body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #e5e5e5;
}

.container {
  display: grid;
  justify-content: center;
}

.toolbar {
  display: flex;
  background-color: #3c3a39;
  width: 375px;
  height: 48px;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  width: 121px;
  height: 44px;
}

#anc {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.port,
.bout,
.cont,
.mail {
  text-decoration: none;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: none;
  align-items: center;
  text-align: center;
  color: #fff;
}

.space {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#menu {
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  margin-right: 24px;
  top: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button:enabled {
  background-color: #3c3a39;
}

.button:hover {
  background-color: #fff5e1;
}

.button:active {
  background-color: #e05304;
}

.button:disabled {
  background-color: #f4f1f0;
}

.headline {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 375px;
  height: 604px;
  background: #1c1a19;
  background-image: url("images/illustration.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

#primarytext {
  width: 327px;
  height: 124px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 120px 24px 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#supportingtext {
  width: 327px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin: 0 24px;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#description {
  width: 327px;
  height: 123px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0 24px;
  color: white;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 250px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0 0 120px;
}

.tags li {
  display: inline-block;
  box-sizing: border-box;
  align-content: center;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
  flex: none;
  flex-grow: 0;
}

.tags2 li {
  display: inline-block;
  box-sizing: border-box;
  align-content: center;
  padding: 10px 12px;
  background-color: rgba(255 255 255/ 24%);
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  flex: none;
  flex-grow: 0;
}

.tags3 li {
  display: inline-block;
  box-sizing: border-box;
  align-content: center;
  padding: 10px 12px;
  background-color: rgba(255 255 255/ 24%);
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  flex: none;
  flex-grow: 0;
}

.tags4 li {
  display: inline-block;
  box-sizing: border-box;
  align-content: center;
  padding: 10px 12px;
  background-color: rgba(255 255 255/ 24%);
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  flex: none;
  flex-grow: 0;
}

.tags5 li {
  display: inline-block;
  box-sizing: border-box;
  align-content: center;
  padding: 10px 12px;
  background-color: rgba(255 255 255/ 24%);
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  flex: none;
  flex-grow: 0;
}

.tags6 li {
  display: inline-block;
  box-sizing: border-box;
  align-content: center;
  padding: 10px 12px;
  background-color: rgba(255 255 255/ 24%);
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  flex: none;
  flex-grow: 0;
}

.tags7 li {
  display: inline-block;
  box-sizing: border-box;
  align-content: center;
  padding: 10px 12px;
  background-color: rgba(255 255 255/ 24%);
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  flex: none;
  flex-grow: 0;
}

.lfs li {
  width: 164px;
  height: 24px;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  order: 9;
  align-self: center;
  color: #fff;
  list-style: none;
}

.f li,
.s li,
.t li {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

ul#horizontal-list {
  list-style: none;
}

ul#horizontal-list li {
  display: inline;
  padding: 5px;
}

.recentworks {
  display: grid;
  background-color: white;
  align-self: center;
  justify-content: center;
  padding: 90px 0;
  position: relative;
  width: 375px;
  left: 0;
  top: 0;
}

.recent {
  width: 327px;
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-self: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 0;
  margin-left: 24px;
}

.vector {
  width: 327px;
  height: 0;
  border: 0;
  flex: 1;
  padding: 0;
  order: 0;
  margin-bottom: 80px;
  margin-left: 24px;
  align-self: center;
}

.deskline {
  display: none;
}

.gymfit {
  width: 327px;
  height: 237px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0;
  margin: 0 24px;
}

.stories {
  width: 327px;
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0;
  margin: 24px 24px 12px;
}

.passage {
  width: 327px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0;
  margin: 0 24px;
}

.tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 0;
  margin: 12px 24px;
  gap: 12px;
  width: 297px;
  height: 40px;
  order: 0;
  flex-grow: 0;
}

#show {
  display: flex;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  padding: 12px;
  background: #ff6b00;
  order: 0;
  justify-items: left;
  border: none;
  width: 140px;
  height: 48px;
  margin: 0 24px 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#show:enabled {
  background-color: #f55800;
}

#show:hover {
  background-color: #fff5e1;
}

#show:active {
  background-color: #e05304;
}

#show:disabled {
  background-color: #f4f1f0;
}

.bg {
  display: flex;
  order: 4;
  padding-left: 24px;
}

.stories2 {
  display: flex;
  flex-direction: column;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  padding-top: 84px;
  margin: 24px;
  margin-top: 84px;
  margin-bottom: 12px;
}

.passage2 {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 4;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  margin: 0 24px;
  margin-bottom: 12px;
}

.tags2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 0;
  margin: 12px 40px;
  margin-bottom: 22px;
  gap: 12px;
  width: 297px;
  height: 40px;
  order: 5;
  flex-grow: 0;
}

#show2 {
  display: flex;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  padding: 12px;
  background: #ff6b00;
  order: 6;
  justify-items: left;
  border: none;
  width: 327px;
  height: 48px;
  margin: 0 24px 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#show2:enabled {
  background-color: #f55800;
}

#show2:hover {
  background-color: #fff5e1;
}

#show2:active {
  background-color: #e05304;
}

#show2:disabled {
  background-color: #f4f1f0;
}

.stories3 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  padding-top: 84px;
  margin: 24px;
  margin-top: 84px;
  margin-bottom: 12px;
}

.passage3 {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 4;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  margin: 0 24px;
  margin-bottom: 12px;
}

.tags3 {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 0;
  margin: 12px 40px;
  margin-bottom: 22px;
  gap: 12px;
  width: 297px;
  height: 40px;
  order: 5;
  flex-grow: 0;
}

#show3 {
  display: flex;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  padding: 12px;
  background: #ff6b00;
  order: 6;
  justify-items: left;
  border: none;
  width: 327px;
  height: 48px;
  margin: 0 24px 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#show3:enabled {
  background-color: #f55800;
}

#show3:hover {
  background-color: #fff5e1;
}

#show3:active {
  background-color: #e05304;
}

#show3:disabled {
  background-color: #f4f1f0;
}

.stories4 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  padding-top: 84px;
  margin: 24px;
  margin-top: 84px;
  margin-bottom: 12px;
}

.passage4 {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 4;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  margin: 0 24px;
  margin-bottom: 12px;
}

.tags4 {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 0;
  margin: 12px 40px;
  gap: 12px;
  width: 297px;
  height: 40px;
  order: 5;
  flex-grow: 0;
  margin-bottom: 22px;
}

#show4 {
  display: flex;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  padding: 12px;
  background: #ff6b00;
  order: 6;
  justify-items: left;
  border: none;
  width: 327px;
  height: 48px;
  margin: 0 24px 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#show4:enabled {
  background-color: #f55800;
}

#show4:hover {
  background-color: #fff5e1;
}

#show4:active {
  background-color: #e05304;
}

#show4:disabled {
  background-color: #f4f1f0;
}

.stories5 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  padding-top: 84px;
  margin: 24px;
  margin-top: 84px;
  margin-bottom: 12px;
}

.passage5 {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 4;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  margin: 0 24px;
  margin-bottom: 12px;
}

.tags5 {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 0;
  margin: 12px 40px;
  gap: 12px;
  width: 297px;
  height: 40px;
  order: 5;
  flex-grow: 0;
  margin-bottom: 22px;
}

#show5 {
  display: flex;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  padding: 12px;
  background: #ff6b00;
  order: 6;
  justify-items: left;
  border: none;
  width: 327px;
  height: 48px;
  margin: 0 24px 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#show5:enabled {
  background-color: #f55800;
}

#show5:hover {
  background-color: #fff5e1;
}

#show5:active {
  background-color: #e05304;
}

#show5:disabled {
  background-color: #f4f1f0;
}

.stories6 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  padding-top: 84px;
  margin: 24px;
  margin-top: 84px;
  margin-bottom: 12px;
}

.passage6 {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 4;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  margin: 0 24px;
  margin-bottom: 12px;
}

.tags6 {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 0;
  margin: 12px 40px;
  gap: 12px;
  width: 297px;
  height: 40px;
  order: 5;
  flex-grow: 0;
  margin-bottom: 22px;
}

#show6 {
  display: flex;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  padding: 12px;
  background: #ff6b00;
  order: 6;
  justify-items: left;
  border: none;
  width: 327px;
  height: 48px;
  margin: 0 24px 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#show6:enabled {
  background-color: #f55800;
}

#show6:hover {
  background-color: #fff5e1;
}

#show6:active {
  background-color: #e05304;
}

#show6:disabled {
  background-color: #f4f1f0;
}

.stories7 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  padding-top: 84px;
  margin: 24px;
  margin-top: 84px;
  margin-bottom: 12px;
}

.passage7 {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 4;
  flex-grow: 0;
  padding: 0;
  padding-left: 12px;
  margin: 0 24px;
  margin-bottom: 12px;
}

.tags7 {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 0;
  margin: 12px 40px;
  gap: 12px;
  width: 297px;
  height: 40px;
  order: 5;
  flex-grow: 0;
  margin-bottom: 22px;
}

#show7 {
  display: flex;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  padding: 12px;
  background: #ff6b00;
  order: 6;
  justify-items: left;
  border: none;
  width: 327px;
  height: 48px;
  margin: 0 24px 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#show7:enabled {
  background-color: #f55800;
}

#show7:hover {
  background-color: #fff5e1;
}

#show7:active {
  background-color: #e05304;
}

#show7:disabled {
  background-color: #f4f1f0;
}

.about {
  display: grid;
  grid-template-rows: 230px 160px;
  background-image: url("images/Frame.png");
  background-repeat: no-repeat;
  background-position-y: 90%;
  background-position-x: right;
  background-color: #1c1a19;
  height: 660px;
}

.aboutme {
  display: flex;
  width: 327px;
  height: 79px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  margin: 120px 24px 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
  order: 0;
  flex-grow: 0;
}

.passage8 {
  display: flex;
  width: 327px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  order: 4;
  flex-grow: 0;
  padding: 0;
  margin: 0 24px;
}

#resume {
  display: flex;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  padding: 12px;
  background: #ff6b00;
  order: 6;
  justify-items: left;
  border: none;
  width: 161px;
  height: 48px;
  margin: 24px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#resume:enabled {
  background-color: #f55800;
}

#resume:hover {
  background-color: #fff5e1;
}

#resume:active {
  background-color: #e05304;
}

#resume:disabled {
  background-color: #f4f1f0;
}

.endline {
  width: 327px;
  height: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  order: 7;
  margin-left: 24px;
  margin-top: 140px;
  padding-bottom: 10px;
}

.deskendline {
  display: none;
  visibility: hidden;
  margin-left: 142px;
}

.lfs {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  height: 1200px;
  order: 8;
  text-align: center;
  gap: 44px;
  padding-left: 0;
  background-image: url("images/Rectangle55.png"), url("images/Rectangle56.png"), url("images/Rectangle57.png");
  background-position: 20% 11%, 17% 38%, 30% 69.3%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.first {
  display: flex;
  margin-top: 120px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 110px;
}

.second {
  display: flex;
  margin-top: 0;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 100px;
}

.third {
  display: flex;
  margin-top: 0;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 145px;
}

.first,
.second,
.third {
  align-self: center;
  padding-left: 0;
  margin-bottom: 20px;
}

.f,
.s,
.t {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 32px;
  padding-left: 0;
}

.two,
.three,
.four,
.five,
.six,
.seven {
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-position-x: 24px;
  width: 352px;
  height: 386px;
  margin-bottom: 24px;
}

.contact-header {
  width: 327px;
  height: 216px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 120px;
}

.navigation {
  position: absolute;
  top: 6764px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fff;
  width: 375px;
  height: 75px;
}

.socialmedia2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 250px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0 0 120px;
}

ul#horizontal-list-2 {
  list-style: none;
  position: relative;
  top: 15px;
  left: 23%;
}

ul#horizontal-list-2 li {
  display: inline;
  padding: 5px;
}

.home-indicator {
  position: absolute;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.contact-form {
  position: absolute;
  top: 5925px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fff;
  width: 375px;
  height: 844px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 24px;
  margin: 24px;
  margin-top: 73px;
}

.form-inputs input {
  width: 295px;
  height: 18px;
  border: none;
}

.form-inputs textarea {
  width: 327px;
  height: 114px;
  border: none;
  background: #fbf8f7;
}

.form-inputs button {
  display: flex;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  padding: 12px;
  background: #ff6b00;
  justify-items: center;
  justify-self: center;
  border: none;
  width: 131px;
  height: 48px;
  margin-left: 32.5%;
  margin-bottom: 72px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.form-inputs button:enabled {
  background-color: #f55800;
}

.form-inputs button:hover {
  background-color: #fff5e1;
}

.form-inputs button:active {
  background-color: #e05304;
}

.form-inputs button:disabled {
  background-color: #f4f1f0;
}

@media (min-width: 768px) {
  .toolbar {
    width: 100vw;
  }

  .headline {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 93vh;
    background: #1c1a19;
    background-image: url("images/Illustration-header.png");
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .motion {
    transition: transform 2s, font-size 2s;
  }

  .motion:hover {
    transform: rotate(-15deg);
    font-size: 120%;
  }

  #primarytext {
    width: 400px;
    height: 160px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    margin: 0 24px 24px 0;
    letter-spacing: 0.37px;
    color: #ff6b00;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #supportingtext {
    width: 566px;
    height: 24px;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    margin: 24px;
    margin-left: 0;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  #description {
    width: 520px;
    height: 123px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 0;
    margin: 0 24px;
    margin-left: 0;
    color: #f4f5f7;
    flex: none;
    order: 2;
    flex-grow: 0;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes slidein {
    from {
      margin-left: 10%;
      width: 33%;
    }

    to {
      margin-left: 0%;
      width: 33%;
    }
  }

  .socialmedia {
    width: 50%;
    position: absolute;
    top: 50vh;
    padding: 0;
    margin: 0;
  }

  ul#horizontal-list li {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .main-headline {
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 125px;
  }

  .port {
    margin-left: 1000px;
  }

  .port,
  .bout,
  .cont,
  .mail {
    display: flex;
    margin-right: 32px;
  }

  #menu {
    display: none;
  }

  .recentworks {
    width: 100vw;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }

  .topp {
    display: flex;
    flex-wrap: nowrap;
  }

  .recentworkscontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100vw;
  }

  .recent {
    display: flex;
    color: #091e42;
    width: 315px;
    height: 52px;
    margin-left: -220px;
    margin-top: 135px;
    align-self: left;
    justify-self: left;
  }

  .vector {
    display: none;
  }

  .deskline {
    display: flex;
    position: absolute;
    margin-left: 492.5px;
    margin-top: 161px;
  }

  .gymfit {
    width: 684px;
    height: 448px;
    flex: none;
    padding: 0;
    margin-top: 114px;
    margin-left: 141px;
  }

  #gymfitimg {
    content: url("images/gymfitimg.png");
  }

  .stories {
    width: 448px;
    height: 48px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0;
    margin: 24px 24px 12px;
  }

  .passage {
    width: 448px;
    height: 140px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0;
    margin: 0 24px;
  }

  .zero {
    display: flex;
    flex-direction: column;
  }

  .one {
    display: flex;
    flex-direction: column;
    margin-top: 301px;
  }

  .two {
    background-image: url("images/mid1.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    width: 369px;
    height: 435px;
    margin: 24px;
    margin-left: 141.5px;
    justify-content: bottom;
  }

  .three {
    background-image: url("images/mid2.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    width: 369px;
    height: 435px;
    margin: 24px;
  }

  .four {
    background-image: url("images/mid3.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    width: 369px;
    height: 435px;
    margin: 24px;
  }

  .five {
    background-image: url("images/mid4.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    width: 369px;
    height: 435px;
    margin: 24px;
    margin-left: 141.5px;
    margin-bottom: 130px;
  }

  .six {
    background-image: url("images/mid5.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    width: 369px;
    height: 435px;
    margin: 24px;
    margin-bottom: 130px;
  }

  .seven {
    background-image: url("images/mid6.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    width: 369px;
    height: 435px;
    margin: 24px;
    margin-bottom: 130px;
  }

  .stories2,
  .stories3,
  .stories4,
  .stories5,
  .stories6,
  .stories7 {
    margin-top: 100px;
  }

  #show2,
  #show3,
  #show4,
  #show5,
  #show6,
  #show7 {
    visibility: hidden;
  }

  .about {
    display: flex;
    flex-direction: column;
    grid-template-rows: 230px 160px;
    background-image: url("images/about.png");
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: right;
    background-size: 672.39px 352.38px;
    background-color: #1c1a19;
    width: 100vw;
    height: 1000px;
  }

  .aboutme {
    display: flex;
    width: 566px;
    height: 78px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 81.5px;
    margin: 130px 24px 0;
    margin-left: 142px;
    margin-bottom: 24px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    order: 0;
    flex-grow: 0;
  }

  .passage8 {
    display: flex;
    width: 566px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex-grow: 0;
    padding: 0;
    margin: 0 24px;
    margin-left: 142px;
  }

  #resume {
    display: flex;
    align-self: flex-start;
    text-align: center;
    justify-content: center;
    padding: 12px;
    background: #ff6b00;
    justify-items: left;
    border: none;
    width: 161px;
    height: 48px;
    margin: 24px;
    margin-left: 142px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .endline {
    visibility: hidden;
  }

  .deskendline {
    display: block;
    position: relative;
    top: 400px;
    visibility: visible;
  }

  .expand {
    width: 80vw;
  }

  .expander {
    width: 60vw;
  }

  .lfs {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 44px;
    background-image: url("images/Rectangle55.png"), url("images/Rectangle56.png"), url("images/Rectangle57.png");
    background-position: 7% 3.5%, 41.4% 4%, 80% 5%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 800px;
    margin-top: 146.73px;
    padding-bottom: 141.5px;
    padding-left: 10%;
  }

  .first,
  .second,
  .third {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .first {
    margin: 0;
  }

  .f,
  .s,
  .t {
    position: relative;
    text-align: left;
    gap: 32px;
    padding-left: 0;
    margin: 0;
  }

  .f {
    top: 20px;
    left: -36%;
  }

  .s {
    left: -20%;
  }

  .t {
    left: -5%;
  }

  .contact-form {
    display: flex;
    align-items: center;
    position: relative;
    top: 226px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100vw;
    height: 614px;
  }

  .contact-header {
    display: flex;
    align-self: center;
    width: 420px;
    height: 256px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-left: 135px;
    margin-right: 0;
    margin-top: 0;
  }

  .footerline,
  .footerone,
  .footertwo {
    display: none;
  }

  .form-inputs input {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 298px;
    height: 18px;
  }

  .form-inputs textarea {
    width: 684px;
    height: 114px;
    border: none;
    background: #fbf8f7;
  }

  .form-inputs button {
    padding: 12px;
    background: #ff6b00;
    border: none;
    width: 131px;
    height: 48px;
    margin-left: 0;
    margin-bottom: 72px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .navigation {
    position: relative;
    top: 228px;
    margin: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 72px;
  }

  .socialmedia2 {
    position: relative;
    top: 50px;
  }

  ul#horizontal-list-2 {
    list-style: none;
  }

  ul#horizontal-list-2 li {
    display: inline;
    padding: 5px;
  }

  .home-indicator {
    display: none;
  }
}
