.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar {
    display: flex;
    background-color: #3C3A39;
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 375px;
    height: 48px;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    padding: 10px 12px;
    position: relative;
    width: 101px;
    height: 44px;
    left: 12px;
    top: 0;
}

.space {
    display: flex;
    flex-direction: row;
    flex:1;
}

#menu {
    width: 28px;
    height: 28px;
    padding: 0px;
    margin-right: 24px;
    top: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button:enabled {
    background-color: #F55800;
}
.button:hover {
    background-color: #FFF5E1;
}
.button:active {
    background-color: #E05304;
}
.button:disabled {
    background-color: #F4F1F0;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    position: relative;
    width: 375px;
    height: 590px;
    left: 0px;
    top: 0px;
    
    background: #1C1A19;
}

#primaryText {
    width: 327px;
    height: 124px;
    
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 64px;
    
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 120px;
    margin-bottom: 0px;

    letter-spacing: 0.37px;

    color: #FF6B00;
    /* border:1px solid red; */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#supportingText {
    width: 327px;
    height: 27px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;

    display: flex;
    align-items: center;

    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border:1px solid red; */

    color: #FFF5E1;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#description {
    width: 327px;
    height: 123px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;

    padding: 0px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border:1px solid red; */

    color: #FFFFFF;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 200px;
    height: 40px;

    flex: none;
    order: 3;
    flex-grow: 0;

    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0px;
    margin-bottom: 120px;
    /* border:1px solid red; */
}

.illustration {
    position: absolute;
    width: 406.89px;
    height: 312.03px;
    left: 227px;
    top: 222px;

    /* transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
     */
}